@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100&family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body,html
{
    overflow-x: hidden;
}
*
{
    margin-bottom: 0;
    margin-left: 0;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: black;
}
.logo {
    padding: 2px 3px;
    font-weight: bold;
    font-size: 5vmin;
    font-family: Roboto;
}

.navbar .nav-links li a {
    text-decoration: none;
    color:whitesmoke;
}

#home {
    
    color: red;
    font-weight: bold; 
   
}
#home:hover {
    
    color: black;
    
}
#cl {
    color: red;
    font-weight: bold;  
}
#cl:hover {
    color: black;
   
}
.navbar ul {
    list-style: none;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
   margin: 0px 20px;
}
.nav-links a .ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    cursor: pointer;
    box-shadow: 2px 2px 5px #00000056;
    
}
.menu-btn
{
    display: none;
}
.ctn {
    padding: 8px 15px;
    color: whitesmoke;
    background: #fc036b;
    border-radius: 30px;    
}

a {
    text-decoration: none;
}

.img1{
    border-radius: 50%;
    height: 90%;
    width:50%;
    align-items: bottom;
}
.main
{
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
    
}

.textm
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textg
{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.gyan{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10%;
    padding: 74px 0;
    justify-content: center;

}

.gyanlinked{
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.insta1{
    height: 70px;
    width: 70px;
    border:10px ;
    
}
.img1 h2
{
    margin-bottom: 5px;
}
.git1{
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.gyan .icon .gyanlinked
{
   padding: 0px 15px;
    
}
.gyan .icon .insta1
{
   padding: 0px 15px;
    
}
.gyan .icon .git1
{
   padding: 1px 15px;
    
}
.yash .icon .gyanlinked
{
   padding: 0px 15px;
    
}
.yash .icon .insta1
{
   padding: 0px 15px;
    
}
.yash .icon .git1
{
   padding: 1px 15px;
    
}
.manu .icon .gyanlinked
{
   padding: 0px 15px;
    
}
.manu .icon .insta1
{
   padding: 0px 15px;
    
}
.manu .icon .git1
{
   padding: 1px 15px;
    
}

.manu{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0;
    background-color: white;
    border-radius: 10%;
}


.yash{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0;
    background-color: white;
    border-radius: 10%;
    
}
h5{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 88, 149);
    margin-bottom: 15px;

}
.a{
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;

}
h4{
   font-family: Arial, Helvetica, sans-serif ;
    font-size: larger;
    margin-top: 0%;
    color: grey;
}
body{
    
    background-image: linear-gradient(to bottom , rgb(154, 211, 244),rgb(0, 59, 238));
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    margin-top: 15px;
    margin-bottom: 0px;
    background: whitesmoke;
    text-align: center;
}
.footer p {
    color: black;
    /* margin: 20px auto; */
    padding: 20px auto;
}
.footer a {
    text-decoration: none;
    color: rgb(199, 29, 29);
}

@media only screen and (max-width:450px){
    .navbar {
        padding: 0;
    }
    body,html
    {
        overflow-x: hidden;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 5vmin;
        
    }
    .menu-btn {
        display: block;
        width: 40px;
        /* margin-top: 15px; */
        margin-right: 25px;
        /* margin-bottom: 10px; */
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -1100px;/*Change 2*/
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
        
    }
    .nav-links li {
        margin: 30px auto;
    }
   
    .main{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        /* width: fit-content; */
    }
    .manu{
    
        /* display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 260px;
        background-color: white;
        border-radius: 10%;
        margin-bottom: 40px; */
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        padding-bottom: 15ppx;
        
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .imgm
    {
        width: 130px;
        padding-left: 15px;
    }
    .textm
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .yash{
        
        /* display: flex;
        flex-direction: column;
        align-items: center;
        width: 460px;
        background-color: white;
        border-radius: 10%;
        margin-bottom: 40px; */
        display: flex;
        flex-direction: row;
        
        padding-top: 15px;
        padding-bottom: 15ppx;
        
        margin-right: 10px;
        margin-bottom: 15px;
    }
    .imgy
    {
        width: 130px;
        padding-left: 15px;  
    }
    .gyan{
   
        /* display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 10%;
        width: 460px;
        margin-bottom: 40px;
        justify-content: center;
         margin-top: 60px; */
         display: flex;
        flex-direction: row;
        padding-top: 15px;
        padding-bottom: 15ppx;
        /* margin-left:5px; */
        margin-right: 10px;
        margin-bottom: 15px;
        margin-top: 55px;
    
    }
    .textg
    {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textg h2
    {
        font-size: 4vmin;
    }
    .imgg
    {
        width: 130px;
        padding-left: 15px;  
    }
    .footer {
        width: 100%;
        min-height: 100px;
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 0px;
        background: whitesmoke;
        text-align: center;
    }

}

    @media only screen and (max-width: 800px) and (min-width: 450px){
    .navbar {
        padding: 0;
    }
    body,html
    {
        overflow-x: hidden;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -1100px;/*Change 2*/
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
        
    }
    .nav-links li {
        margin: 30px auto;
    }
    .menu-btn {
        display: block;
        width: 60px;
        margin-right: 35px;
    }
    .main{
        display: flex;
        flex-direction: column;
        padding-left:135px;
        width: fit-content;
    }
    .manu{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 460px;
        background-color: white;
        border-radius: 10%;
        margin-bottom: 40px;
        /* margin-left: 35px; */
    }
    
    
    .yash{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 460px;
        background-color: white;
        border-radius: 10%;
        margin-bottom: 40px;
        /* margin-left: 35px; */
    }
    .gyan{
   
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 10%;
        width: 460px;
        margin-bottom: 40px;
        justify-content: center;
        margin-top: 60px;
        

    
    }
    .footer {
        width: 100%;
        min-height: 100px;
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 0px;
        background: whitesmoke;
        text-align: center;
    }

}
@media only screen and (max-width: 1024px) and (min-width: 800px){
    .main
    {
        padding: 0px 15px;
    }
    .gyan
    {
        margin-right: 15px;
    }
    .yash
    {
        margin-right: 15px;
    }
}

