@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100&family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body,html
{
    overflow-x: hidden;
}
*
{
    margin-bottom: 0;
    margin-left: 0;
}
.navbar {

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top:30px;
    color: black;
}
.logo {
    padding: 2px 0px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 5vmin;
    font-family: Roboto;
}

.navbar .nav-links li a {
    text-decoration: none;
    color:whitesmoke;
}

#home {
    color: #fc035b;
    font-weight: bold;  
    
}
#home:hover {
    color: black;
    /* font-size: x-large; */
}
#cl {
    color: #fc035b;
    font-weight: bold;  
}
#cl:hover {
    color: black;
    /* font-size: x-large; */
}


/* Dropdown Button */
.dropbtn {
    padding: 8px 15px;
    color: #fc035b;
    /* background:#fc035b ;
    color: whitesmoke ;
    border-radius: 30px; */ 
    border: none; 
    background: transparent;
}

.dropbtn:hover{
    cursor: pointer;
    color: black;
    background: none;
    /* background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #00000056; */
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      background:none;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    color: #fc036b;
    min-width: 160px;
    box-shadow: 2px 2px 5px #00000056;
    border: none;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block; }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background: whitesmoke; color: #fc036b; border: none;}
  
.navbar ul {
    list-style: none;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
   margin: 0px 20px;
}
.nav-links a .ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    cursor: pointer;
    box-shadow: 2px 2px 5px #00000056;
    /* font-size: large; */
}
.ctn1 {
    color: #fc036b;
}
.ctn1:hover {
    color: black;
}
.ctn {
    padding: 8px 15px;
    background:#fc035b ;
    color: whitesmoke ;
    border-radius: 30px;    
}

.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    cursor: pointer;
    box-shadow: 2px 2px 5px #00000056;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

a {
    text-decoration: none;
}

.img1{
    border-radius: 50%;
    height: 90%;
    width:50%;
    align-items: bottom;
}
.main
{
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
    
}

.textm
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textg
{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.gyan{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10%;
    padding: 74px 0;
    justify-content: center;

}

.gyanlinked{
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.insta1{
    height: 70px;
    width: 70px;
    border:10px ;
    
}
.img1 h2
{
    margin-bottom: 5px;
}
.git1{
    height: 70px;
    width: 70px;
    border-radius: 10px;
}

.gyan .icon .gyanlinked
{
   padding: 0px 15px;
    
}
.gyan .icon .insta1
{
   padding: 0px 15px;
    
}
.gyan .icon .git1
{
   padding: 1px 15px;
    
}
.yash .icon .gyanlinked
{
   padding: 0px 15px;
    
}
.yash .icon .insta1
{
   padding: 0px 15px;
    
}
.yash .icon .git1
{
   padding: 1px 15px;
    
}
.manu .icon .gyanlinked
{
   padding: 0px 15px;
    
}
.manu .icon .insta1
{
   padding: 0px 15px;
    
}
.manu .icon .git1
{
   padding: 1px 15px;
    
}

.manu{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0;
    background-color: white;
    border-radius: 10%;
}


.yash{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0;
    background-color: white;
    border-radius: 10%;
    
}
h5{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 88, 149);
    margin-bottom: 15px;

}
.a{
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;

}
h4{
   font-family: Arial, Helvetica, sans-serif ;
    font-size: larger;
    margin-top: 0%;
    color: grey;
}
body{
    
    background-image: linear-gradient(to bottom , rgb(154, 211, 244),rgb(0, 59, 238));
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    margin-top: 15px;
    margin-bottom: 0px;
    background: whitesmoke;
    text-align: center;
}
.footer p {
    color: black;
    /* margin: 20px auto; */
    padding: 20px auto;
}
.footer a {
    text-decoration: none;
    color: rgb(199, 29, 29);
}


@media only screen and (max-width: 1024px) and (min-width: 800px){
    .main
    {
        padding: 0px 15px;
    }
    .gyan
    {
        margin-right: 15px;
    }
    .yash
    {
        margin-right: 15px;
    }
}

