@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100&family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body,html
{
    overflow-x: hidden;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: black;
}
.logo {
    padding: 2px 3px;
    font-weight: bold;
    font-size: 5vmin;
    font-family: Roboto;
}

.navbar .nav-links li a {
    text-decoration: none;
    color:whitesmoke;
}

#home {
    color: black;
    font-weight: bold;  
}
#home:hover {
    color: whitesmoke;
    font-size: x-large;
}
#cl {
    color: black;
    font-weight: bold;  
}
#cl:hover {
    color: whitesmoke;
    font-size: x-large;
}
.navbar ul {
    list-style: none;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
   margin: 0px 20px;
}
.nav-links a .ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    cursor: pointer;
    box-shadow: 2px 2px 5px #00000056;
    font-size: large;
}
.ctn {
    padding: 8px 15px;
    color: whitesmoke;
    background: #fc036b;
    border-radius: 30px;    
}

a {
    text-decoration: none;
}

.img1{
    border-radius: 50%;
    height: 90%;
    width:50%;
    align-items: bottom;
}
.main
{
    display: flex;
    margin-top: 15%;
    justify-content: space-around;
    
}
/* .main{
    text-align: center;
    justify-content: space-evenly;
} */
/* .main > div{
    width: 20%;
    height: 10%;
    background: bisque;
} */

.gyan{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10%;
    padding: 4px 0;
}
/* .gyan:hover{
    width: 30%;
    height: 30%;
} */
.gyanlinked{
    height: 50px;
    width: 40px;
    border-radius: 10px;
}
/* .gyanlinked:hover{
    height: 60px;
    width: 50px;

} */
.insta1{
    height:50px;
    width: 40px;
    border:10px ;
    
}
/* .insta1:hover
{
    height: 60px;
    width: 50px;
    
}    */
.git1{
    height: 50px;
    width: 40px;
    border-radius: 10px;
}
/* .git1:hover{
    height: 60px;
    width: 50px;

} */
.icon
{
    display: flex;
    
    
    width: 100px;
    padding:0% 100px;
    
}
/*
.manu{
    display: inline-block;
}
.yash{
    float: right;
} */
.manu{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0;
    background-color: white;
    border-radius: 10%;
}
/* .manu:hover{
    width:30%;
    height: 30%;

} */
.yash{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0;
    background-color: white;
    border-radius: 10%;
    
}
h5{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 88, 149);

}
.a{
    text-align: center;
}
/* .yash:hover{
    height: 30%;
    width:30%
} */
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;

}
h4{
   font-family: Arial, Helvetica, sans-serif ;
    font-size: larger;
    margin-top: 0%;
    color: grey;
}
body{
    background: url(https://www.stockvault.net/data/2020/10/02/279352/preview16.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1{

}