
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100&family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@100&family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins'); 

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Open+Sans&family=Playfair+Display:ital@1&display=swap');
body,html
{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: absolute;
    margin-top: 25px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: black;
}
.logo {
    padding: 2px 3px;
    font-weight: bold;
    font-size: 5vmin;
    font-family: Roboto;
}


.navbar .nav-links li a {
    text-decoration: none;
    color:whitesmoke;
}

#home {
    
    color: red;
    font-weight: bold; 
   
}
#home:hover {
    
    color: black;
    
}
#cl {
    color: red;
    font-weight: bold;  
}
#cl:hover {
    color: black;
    
}
.navbar ul {
    list-style: none;
}
.nav-links {
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.nav-links li {
   margin: 0px 20px;
}
.nav-links a .ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    cursor: pointer;
    box-shadow: 2px 2px 5px #00000056;
   
}
.ctn {
    padding: 8px 15px;
    color: whitesmoke;
    background: #fc036b;
    border-radius: 30px;    
}

a{
    text-decoration: none;
}


/*Nav Bar ends*/
.clicke
{
    text-decoration: none;
}
body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header
{
    
    box-sizing: border-box;
   
    background: url(https://github.com/piperio-17/CollegeMemories/blob/main/image/photo4.jpg?raw=true);
    height: 180vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
    
    
}

/*CAMPUS*/
.campus{

/* background: rgb(179, 255, 255); */
background: url(collegeBackground.png);

background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin-top: 0;
padding-bottom: 25px;
padding: 0;
margin: 0;
}
.campus h1
{
    text-align: center;
    font-family: Playfair Display;
    font-size: 7vmin;
    
}

.imgcamp
{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr ;
    margin-left: 2%;
    margin-right: 2%;
    padding:  0px 105px;
    padding-bottom: 15px;
    
}
.imgcamp h3
{
color: darkblue;
font-size: 2rem;
font-family: Open Sans;
padding: 15px 0px;
}
.imgc
{
   
width: 90%;
/* background-color: white; */


}
.academic{
 
    padding-top:16px;
    text-align: center;
   
   
    border-radius: 15px;/*changed*/
   
    margin-bottom: 55px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mess
{
    padding-top:16px;
    text-align: center;
    
    /* border: 15px solid  black; */
    border-radius: 15px;
    /* background: white; */
    grid-column-start: 3;
    grid-template-columns: 4;
    margin-bottom: 55px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.auditorium
{

    padding-top:16px;
    text-align: center;
    margin-bottom: 55px;
    /* border: 15px solid  black; */
    border-radius: 15px;
    /* background: white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.library
{
    padding-top:16px;
    text-align: center;
    margin-bottom: 55px;
    /* border: 15px solid  black; */
    border-radius: 15px;
    /* background: white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-column-start: 3;
    grid-template-columns: 4;
}
.vidcamp
{
    margin-left: 35%;
    
}
/*HOSTEL*/
.title h1
{
    text-align: center;
    font-family: Playfair Display;
    font-size: 7vmin;
}
/*Slidehow*/
.container
{
    overflow: hidden;
    width: 70%;
    height: 600px;
    margin-left: 20%;
    
}
.container figure
{
    position: relative;
    width: 500%;
    margin: 0;
    left:0;
    animation: 20s container infinite;


}
.img
{
    float: left;
    width: 20%;
    height: 500px;
}

@keyframes container {
    0%
    {
        left: 0%;
    }
    20%
    {
        left: 0%;
    }
    25%
    {
        left: -100%;
    }
    45%
    {
        left: -100%;
    }
    50%
    {
        left: -200%;
    }
    70%
    {
        left: -200%;
    }
    75%
    {
        left: -300%;
    }
    95%
    {
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
/*Hostel video*/
.titlev
 {
    margin-top: 5%;
   
} 
.videos
{
    margin-top: 5%;
   display: flex;
  
   justify-content: space-around;
}
.videos video
{
    border-radius: 15px;
    
}

/*Exploring Places*/

.tours
{
   
    background: rgb(155, 215, 215);
    background: linear-gradient(to bottom left,rgb(67, 255, 230),rgb(246, 246, 246));
    margin-top: 5%;
}
.tours .row
{
    display: flex;
}
.tours .row .col1
{
display: flex;
margin-left: 10%;
flex-direction: column;
align-items: center;

}
.tours .row .col .image-gallery
{
    margin-top: 15px;
    /* margin-left: 0%; */
    display: grid;
    grid-template-columns:1fr 1fr;
    flex-wrap: wrap;
}

.tours .row .col1 h1
{
    margin-top: 100px;
    text-align: center;
    font-family: Playfair Display;
    font-size: 7vmin; 
}
.tours .row .col1 p
{
    margin-top: 20px;
    font-size: 4vmin;
    font-family: Dosis;
    /* font-style: italic; */
    
    
}
.tours .row h1
{
    font-size: 5vmin;
}

.image-gallery img
{
    width: 250px;
    margin: 10px;
}
.imge1
{
    height: 90%;
}
.explorevid
{
    margin-left: 10%;
    margin-bottom: 1%;
    /* height: 150px; */
}
/*FOOTER*/
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    margin: 0;
    background: whitesmoke;
    text-align: center;
}
.footer p {
    color: black;
    margin: 20px auto;
    padding: 20px auto;
}
.footer a {
    text-decoration: none;
    color: rgb(199, 29, 29);
}
.goup
{
    background-color: whitesmoke;
    text-align: end;
    padding-right: 15px;
    color: darkblue;
    padding-bottom: 5px;
}
.goup a
{
    background-color: whitesmoke;
    
}
